@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import scala.collection.mutable
@(musico: Musico)(musico2: Musico)(musicos: List[Musico])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
* @main("Welcome to Play") {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
* @play20.welcome(message, style = "Java")
*@
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Cluster - Creative Portfolio HTML Template</title>

            <!-- Main CSS file -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/owl.carousel.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/magnific-popup.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/responsive.css")" />

        <link rel="stylesheet" href="@routes.Assets.versioned("css/myStyles.css")" />


            <!-- Favicon -->
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/icon/favicon.png")">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/icon/apple-touch-icon-144-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/icon/apple-touch-icon-114-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/icon/apple-touch-icon-72-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.versioned("images/icon/apple-touch-icon-57-precomposed.png")">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	[endif]-->

    </head>
    <body>

            <!-- PRELOADER -->
        <div id="st-preloader">
            <div id="pre-status">
                <div class="preload-placeholder"></div>
            </div>
        </div>
            <!-- /PRELOADER -->


            <!-- HEADER -->
        <header id="header">
            <nav class="navbar st-navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html"><img src="images/services/logo2.png" alt=""></a>
                    </div>

                    <div class="collapse navbar-collapse" id="st-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#header">Home</a></li>
                            <li><a href="#services">Servicios</a></li>
                            <li><a href="#musicos">Musicos</a></li>
                            <li><a href="#services">Organizadores</a></li>
                            <li><a href="#our-works">Eventos</a></li>
                            <li><a href="#pricing">Convocatorias</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>
            <!-- /HEADER -->


            <!-- SLIDER -->
        <section id="slider">
            <div id="home-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(@routes.Assets.versioned("images/slider/01.jpg"))">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>MusicConections</h1>
                                    <h2 class="tituloLandingPage">talento </h2>
                                    <p>Unete a nuestra comunidad y encuentra grandes oportunidades de empleo o excelentes grupos musicales para tus eventos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(@routes.Assets.versioned("images/slider/02.jpg"))">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>MusicConections</h1>
                                    <h2>Mundo musical</h2>
                                    <p>Unete a nuestra comunidad y encuentra grandes oportunidades de empleo o excelentes grupos musicales para tus eventos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(@routes.Assets.versioned("images/slider/03.jpg"))">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>MusicConections</h1>
                                    <h2>Integra a tu banda</h2>
                                    <p>Unete a nuestra comunidad y encuentra grandes oportunidades de empleo o excelentes grupos musicales para tus eventos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(@routes.Assets.versioned("images/slider/04.jpg"))">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>MusicConections</h1>
                                    <h2>Busca excelentes bandas</h2>
                                    <p>Unete a nuestra comunidad y encuentra grandes oportunidades de empleo o excelentes grupos musicales para tus eventos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div> <!--/#home-carousel-->
        </section>
            <!-- /SLIDER -->


            <!-- SERVICES -->
        <section id="services">
            <div class="container">
                <div class="row">



                        <!-- TITULO- PRIMERA FILA-->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Services</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>

                        <!-- SEGUNDA FILA-MUSICO-ORGANIZADOR-->

                        <!-- 1) PRIMER ESPACIO, SEGUNDA FILA-->
                    <div class="col-md-3 col-sm-6 st-service">
                    </div>

                        <!-- 2) MUSICO, SEGUNDA FILA-->
                    <div class="col-md-3 col-sm-6 st-service">

                            <!-- 2.1) MUSICO, SEGUNDA FILA-->
                        <div class="row">

                            <div class="col-md-12" >
                                <img src="@routes.Assets.versioned("images/services/01.png")">
                            </div>

                            <div class="col-md-12">
                                <a href="#loginMusico"><h3 class="textCenterServices"><B>Soy músico</B></h3></a>
                            </div>

                        </div>
                    </div>

                        <!-- 3) ORGANIZADOR, SEGUNDA FILA-->
                    <div class="col-md-3 col-sm-6 st-service">

                            <!-- 2.1) MUSICO, SEGUNDA FILA-->
                        <div class="row">

                            <div class="col-md-12" >
                                <img src="@routes.Assets.versioned("images/services/02.png")">
                            </div>

                            <div class="col-md-12">
                                <a href="#loginOrganizador"><h3 class="textCenterServices"><B>Soy organizador</B></h3></a>
                            </div>

                        </div>
                    </div>

                        <!-- 4) SEGUNDO ESPACIO, SEGUNDA FILA-->
                    <div class="col-md-12 col-sm-6 st-service">
                    </div>

                        <!-- TERCER FILA- SERVICIOS PUNTUALES-->
                    <div class="row">
                        <!-- 2) SUBE TU MUSICA-->
                    <div class="col-md-2">

                            <!-- 2.1) SUBE TU MUSICA-->
                        <div class="row">

                            <div class="col-md-12" >
                                <div class="col-md-12">
                                    <div class = espacio></div>
                                </div>
                                <img src="@routes.Assets.versioned("images/services/03.png")">
                            </div>

                            <div class="col-md-12">
                                <a class="textCenterServices" href="#subeMusica"><h3><B>Sube tu música</B></h3></a>
                            </div>

                        </div>
                    </div>
                            <!--  ESPACIO-->
                        <div class="col-md-1 col-sm-6 st-service">
                        </div>

                        <!-- 3) BUSCA CONVOCATORIAS-->
                    <div class="col-md-2">

                        <!-- 2.1) BUSCA CONVOCATORIAS-->
                    <div class="row">

                        <div class="col-md-12" >
                            <img src="@routes.Assets.versioned("images/services/04.png")">
                        </div>

                        <div class="col-md-12">
                            <a href="#subeMusica"><h3 class="textCenterServices"><B>Busca o haz convocatorias</B></h3></a>
                        </div>

                    </div>
                    </div>
                            <!--  ESPACIO-->
                        <div class="col-md-1 col-sm-6 st-service">
                        </div>
                    <!-- 3) ENCUENTRA MUSICOS-->
                <div class="col-md-2 col-sm-6 st-service">

                        <!-- 2.1) ENCUENTRA MUSICOS-->
                    <div class="row">
                        <div class = espacio2></div>
                        <div class="col-md-12" >
                            <img src="@routes.Assets.versioned("images/services/05.png")">
                        </div>

                        <div class="col-md-12">
                            <a href="#EncuentraMusicos"><h3 class="textCenterServices"><B>Encuentra musicos</B></h3></a>
                        </div>

                    </div>
                </div>
                            <!--  ESPACIO-->
                        <div class="col-md-1 col-sm-6 st-service">
                        </div>
                    <!-- 3) ASISTE A EVENTOS-->
                <div class="col-md-2 col-sm-6 st-service">

                        <!-- 2.1) ASISTE A EVENTOS-->
                    <div class="row">

                        <div class="col-md-12" >
                            <img src="@routes.Assets.versioned("images/services/06.png")">
                        </div>

                        <div class="col-md-12">
                           <a href="#asisteEventos"><h3 class="textCenterServices"><B>Asiste a eventos</B></h3></a>
                        </div>

                    </div>
                </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /SERVICES -->


            <!-- OUR WORKS -->
        <section id="musicos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Musicos</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>

                    <div class="portfolio-wrapper" >
                        <div class="col-md-12">
                            <ul class="filter">
                                <li><a class="active" href="#" data-filter="*">All</a></li>
                                <li><a href="#" data-filter=".Rock">ROCK</a></li>
                                <li><a href="#" data-filter=".Metal">METAL</a></li>
                                <li><a href="#" data-filter=".Punk">PUNK</a></li>
                                <li><a href="#" data-filter=".Salsa">SALSA</a></li>
                                <li><a href="#" data-filter=".bootstrap">bootstrap</a></li>
                            </ul><!--/#portfolio-filter-->
                        </div>

                        <div class="portfolio-items">
                        @for(musicoActual <- musicos) {

                            <div class="col-md-4 col-sm-6 work-grid @musicoActual.getTipo ">
                                <div class="portfolio-content">

                                    <img class="img-responsive" src="@musicoActual.getUrlImagen" alt="">

                                    <div class="portfolio-overlay">
                                        <a href= "@musicoActual.getUrlImagen"><i class="fa fa-camera-retro"></i></a>

                                        <h5>@musicoActual.getNombre</h5>
                                        <p>Design, Develop</p>
                                    </div>
                                </div>
                            </div>
                        }

                        </div>
                    </div>

                </div>
            </div>
        </section>
            <!-- /OUR WORKS -->


            <!-- PRICING -->
        <section id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Pricing</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="st-pricing text-center">
                            <h5>Basic</h5>
                            <h3>$39</h3>
                            <div class="st-border"></div>
                            <ul>
                                <li>Free Download</li>
                                <li>1000+ Softwear</li>
                                <li>Full Access</li>
                                <li>Free Update</li>
                                <li>Live Support</li>
                            </ul>
                            <a href="" class="btn btn-send">Sign Up</a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="st-pricing text-center">
                            <h5>Silver</h5>
                            <h3>$89</h3>
                            <div class="st-border"></div>
                            <ul>
                                <li>Free Download</li>
                                <li>1000+ Softwear</li>
                                <li>Full Access</li>
                                <li>Free Update</li>
                                <li>Live Support</li>
                            </ul>
                            <a href="" class="btn btn-send">Sign Up</a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="st-pricing text-center">
                            <h5>Gold</h5>
                            <h3>$209</h3>
                            <div class="st-border"></div>
                            <ul>
                                <li>Free Download</li>
                                <li>1000+ Softwear</li>
                                <li>Full Access</li>
                                <li>Free Update</li>
                                <li>Live Support</li>
                            </ul>
                            <a href="" class="btn btn-send">Sign Up</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
            <!-- /PRICING -->


            <!-- OUR TEAM -->
        <section id="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Our Team</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-image">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/members/team1.jpg")" alt="">
                                <div class="member-social">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Khalil Uddin</h4>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-image">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/members/team2.jpg")" alt="">
                                <div class="member-social">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Rubel Miah</h4>
                                <span>Lead Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-image">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/members/team1.jpg")" alt="">
                                <div class="member-social">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Shamim Shohag</h4>
                                <span>Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-image">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/members/team2.jpg")" alt="">
                                <div class="member-social">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Zubayer Rahman</h4>
                                <span>Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /OUR TEAM -->


            <!-- ABOUT US -->
        <section id="about-us">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-us text-center">
                            <h4>Morem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid obcaecati deleniti minus quisquam quis magnam reprehenderit quaerat molestias rerum, excepturi autem fugiat corporis quidem a ipsum quos beatae! Ut!</p>
                            <a href="" class="btn btn-send">View More</a>
                        </div>
                    </div>
                    <div class="col-sm-6 our-office">
                        <div id="office-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="@routes.Assets.versioned("images/office/04.jpg")" alt="">
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.versioned("images/office/02.jpg")" alt="">
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.versioned("images/office/03.jpg")" alt="">
                                </div>

                                <a class="office-carousel-left" href="#office-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="office-carousel-right" href="#office-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div> <!--/#office-carousel-->
                    </div>
                </div>
            </div>
        </section>
            <!-- /ABOUT US -->

            <!-- TESTIMONIAL -->
        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="overlay"></div>
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="st-testimonials">

                            <div class="item active text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Tom Roof</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cumconsectetur adipisicing elit. Amet dolore"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Mustafiz</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem autem possimus laborum, ducimus vel rerum asperiores delectus, suscipit voluptate mollitia, ullam perspiciatis voluptates!"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Sean Hynes</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /TESTIMONIAL -->


            <!-- FUN FACTS -->
        <section id="fun-facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="fun-fact text-center">
                            <h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">365</span></h3>
                            <p>Organizadores felices</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="fun-fact text-center">
                            <h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">73987</span></h3>
                            <p>Eventos culminados</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="fun-fact text-center">
                            <h3><i class="fa fa-coffee"></i> <span class="st-counter">297345</span></h3>
                            <p>organizadores inscritos</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="fun-fact text-center">
                            <h3><i class="fa fa-code"></i> <span class="st-counter">9823686</span></h3>
                            <p>musicos inscritos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /FUN FACTS -->


            <!-- CONTACT -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Contact us</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>
                    <div class="col-sm-4 contact-info">
                        <p class="contact-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum dolorum, possimus tenetur pariatur officia, quo commodi autem doloribus vero rerum aspernatur quidem temporibus.</p>
                        <p class="st-address"><i class="fa fa-map-marker"></i> <strong>
                            E71 8th Ave, New York NY 21001, US</strong></p>
                        <p class="st-phone"><i class="fa fa-mobile"></i> <strong>+00 123-456-789</strong></p>
                        <p class="st-email"><i class="fa fa-envelope-o"></i> <strong>email#yourdomain.com</strong></p>
                        <p class="st-website"><i class="fa fa-globe"></i> <strong>www.yourdomain.com</strong></p>

                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <form action="@routes.Assets.versioned("php/send-contact.php")" class="contact-form" name="contact-form" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="name" required="required" placeholder="Name*">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" name="email" required="required" placeholder="Email*">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="subject" placeholder="Subject">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="website" placeholder="Website">
                                </div>
                                <div class="col-sm-12">
                                    <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <input type="submit" name="submit" value="Send Message" class="btn btn-send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
            <!-- /CONTACT -->

            <!-- FOOTER -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                        <!-- SOCIAL ICONS -->
                    <div class="col-sm-6 col-sm-push-6 footer-social-icons">
                        <span>Follow us:</span>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-pinterest-p"></i></a>
                    </div>
                        <!-- /SOCIAL ICONS -->
                    <div class="col-sm-6 col-sm-pull-6 copyright">
                        <p>&copy; 2015 <a href="">ShapedTheme</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
            <!-- /FOOTER -->


            <!-- Scroll-up -->
        <div class="scroll-up">
            <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
        </div>


            <!-- JS -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.min.js")"></script><!-- jQuery -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/bootstrap.min.js")"></script><!-- Bootstrap -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.parallax.js")"></script><!-- Parallax -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/smoothscroll.js")"></script><!-- Smooth Scroll -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/masonry.pkgd.min.js")"></script><!-- masonry -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.fitvids.js")"></script><!-- fitvids -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/owl.carousel.min.js")"></script><!-- Owl-Carousel -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.counterup.min.js")"></script><!-- CounterUp -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/waypoints.min.js")"></script><!-- CounterUp -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.isotope.min.js")"></script><!-- isotope -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.magnific-popup.min.js")"></script><!-- magnific-popup -->
        <script type="text/javascript" src="@routes.Assets.versioned("js/scripts.js")"></script><!-- Scripts -->


    </body>
</html>
